.container {
  max-width: 600px;
  font-size: 1.1em; }

.social {
    position: relative;
    left: -2.8em;
    top: 0.9em;}
.social a:hover {
    text-decoration: none;}

.page-header {
border-bottom: 1px dotted #eee;}

.header h1 {
  font-size: 1.5em;
  padding: 0 0 5px 0;
  margin: 37px 0 30px 0;}
.header .nav {
  margin-top: -55px;
  float: right; }
.header img {
    width: 1.7em;
    margin-right: 3px;
    opacity: 0.7; }
.header img:hover {
    opacity: 1;}
.homeimg {
    position: relative;
    left: 1em;
}
.home .nav {
    display: none;
}

ol.index {
  list-style-type: none;
  margin: 25px 0 70px -30px; }
ol.index li {
    line-height: 22px; }
ol.index .header  {
    color: #999999;
    font-size: 0.9em;}
ol.index .header {
    float: left;
    min-width: 115px; }
ol.index .main {
    color: #cccccc;
    margin: 0 0 0 10px;
    display: inline-block;
    max-width: 55%;}

.glyphicon-forward {
    opacity: 0.3;
    margin: 0 0 0 -2em;
    font-size: 1em;
    }

.spacer100 {
    padding-bottom: 100px;}
.spacer50 {
    padding-bottom: 50px;}