.container {
  width: 650px;
  font-size: 14px; }

.social {
    position: relative;
    top: 5px;}
.social a:hover {
    text-decoration: none;}

.page-header {
border-bottom: 1px dotted #eee;}

.header h1 {
  font-size: 22px;
  padding: 0 0 5px 0;
  margin: 30px 0 30px 0;}
.header .nav {
  margin-top: -55px;
  float: right; }
.header img {
      width: 24px;
    opacity: 0.6; }
.header img:hover {
    opacity: 1;}

.home .nav {
    display: none;
}

ol.index {
  list-style-type: none;
  margin: 25px 0 70px -30px; }
ol.index li {
    line-height: 22px; }
ol.index .header  {
    color: #999999;
    font-size: 12px;}
ol.index .header {
    float: left;
    min-width: 115px; }
ol.index .main {
    font-size: 14px;
    color: #cccccc;
    margin: 0 0 0 10px;
    display: inline-block;
    max-width: 55%;
    line-height: 1.3em; }
ol.index .meta {
    float: right;
    color: #cccccc;
    font-size: 12px;
    vertical-align: top; }
ol.index .meta a {
      color: #cccccc;
      font-size: 11px; }

.glyphicon-forward {
    opacity: 0.3;
    margin: 0 10px 0 -40px;
    font-size: 12px;
    }

.spacer100 {
    padding-bottom: 100px;}
.spacer50 {
    padding-bottom: 50px;}