.container {
  width: 650px;
  font-size: 14px; }

.social {
    position: relative;
    right: 40px;
    top: 5px;}

.header h1 {
  font-size: 22px;
  padding: 0 0 5px 0;
  margin: 30px 0 30px 0;
 }
.header .nav {
  margin-top: -60px;
  float: right; }

.header img {
      width: 20px;
    opacity: 0.5; }
.header img:hover {
    opacity: 1; }

.home .nav {
  display: none; }

ol.index {
  list-style-type: none;
  margin: 25px 0 70px -10px; }
ol.index li {
    line-height: 22px; }
ol.index .header  {
    color: #999999;
    font-size: 12px;
}
ol.index .header {
    float: left;
    min-width: 115px; }
ol.index .main {
    font-size: 14px;
    color: #cccccc;
    margin: 0 0 0 10px;
    display: inline-block;
    max-width: 55%;
    line-height: 1.3em; }
ol.index .meta {
    float: right;
    color: #cccccc;
    font-size: 12px;
    vertical-align: top; }
ol.index .meta a {
      color: #cccccc;
      font-size: 11px; }

left {
  float: left; }


.right {
  float: right; }

.clear {
  clear: both; }

.glyphicon-forward {
    opacity: 0.3;
    margin: 0 10px 0 -40px;
    font-size: 10px;
}
