.home .nav {
  display: inherit; }

h2 {
    font-size: 16px;}



.caption h2 {
    font-size: 14px;
}


.last {
    padding-bottom: 20px;
}

.highlight {
    padding-top: -20px;
    padding-bottom: -20px;
}