.container {
  max-width: 600px;
  font-size: 1.1em; }

.home .nav {
  display: inherit; }

h2 {
    font-size: 1.2em;}

.caption h2 {
    font-size: 14px;}

h3 {
    font-size: 1.1em;}

.img_grid {
    max-width: 400px;
}